body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(241, 214, 163);
}
header {
    background-color: #b5589a;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    background-color: #000000;
    overflow: hidden;
    text-align: center;
}

nav a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    
}
nav a:hover {
    background-color: #e989c1;
    color: black;
   
}
section {
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 3px solid rgb(0, 162, 16);

    
}
th, td {
    padding: 10px;
    text-align: left;
    color: rgb(0, 0, 0);
    width: 50%;
    background-color: antiquewhite;
}
th {
    background-color: #e989c1;
}
.olavo {
    text-align: center;
    margin-top: 1%;
    margin-left: 40%;
    margin-right: 50%;
    width: 10%;
}
